.App {
  text-align: center;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
body, 
html {
  position: relative;
  height: 100%;   
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  align-content: stretch;
  justify-content: stretch;
}

.header-item {
  padding-left: 10px;
}

.container .App-header {
  width: 100%;
}

.App-link {
  color: #09d3ac;
}

.footer {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
}

.main-content {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 70px; /* height of your footer */
}

/* css to customize Leaflet default styles  */
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #e93434;
    color: #ffffff;
}

/* leafleat map css */
#map {
  width: 100%;
  height: 500px;
}

#zoomedTreeMap, #zoomedDendo {
  width: 50%;
  overflow:auto;
}

text {
  pointer-events: none;
}
.grandparent text {
  font-weight: bold;
}
rect {
  stroke: #fff;
  stroke-width: 1px;
}
rect.parent,
.grandparent rect {
  stroke-width: 3px;
}
.grandparent:hover rect {
  fill: grey;
}
.children rect.parent,
.grandparent rect {
  cursor: pointer;
}
.children rect.child {
  opacity: 0;
}
.children rect.parent {
}
.children:hover rect.child {
  opacity: 1;
  stroke-width: 1px;
}
.children:hover rect.parent {
  /*opacity: 0;*/
}
.legend {
  margin-bottom:8px !important;
}
.legend rect {
  stroke-width: 0px;
}
.legend text {
  text-anchor: middle;
  pointer-events: auto;
  font-size: 13px;
  font-family: sans-serif;
  fill: black;
}
.form-group {
    text-align:left;
}
.textdiv {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding: 7px;
    cursor: pointer;
    overflow: auto;
}
.textdiv .title {
    font-size: 13px;
    font-weight: bold;
    margin-top: 8px;
    font-size:11px !important;
}
.textdiv p{
    /*line-height: 13px;
    margin:0 0 4px !important;
    padding:0px;
    font-size:10px !important;*/
    font-size: x-small;
    padding: 5px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif; 
}

/* zoomed treemap tooltip */
.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  font-size: 14px;
  line-height: 15px;
  left: 130px;
  width: 250px;
  border-style: solid;
  border-color: #76787A;
  border-width: 2px;
  border-radius: 7px;
  position: absolute;
  z-index: 1000;
}

/* Dandogram */
.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1px;
}
text {
  font-family: "Arial Black", Gadget, sans-serif;
  fill: black;
  font-weight: bold;
  font-size: 10px
}

.xAxis .tick text{
  fill: black;
}
.grid .tick line{
  stroke: grey;
  stroke-dasharray: 5, 10;
  opacity: 0.7;
}
.grid path{
  stroke-width: 0;
}

.node circle {
  fill: #999;
}
.node--internal circle {
  fill: #555;
}
.node--internal text {
  font-size: 8px;
  text-shadow: 0 2px 0 #fff, 0 -2px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
}
.node--leaf text {
  fill: black;
  overflow: auto;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  white-space: initial;
  font-size: 15px;
}
.ballG text {
  fill: black;
}

.shadow {
  -webkit-filter: drop-shadow( -1.5px -1.5px 1.5px #000 );
  filter: drop-shadow( -1.5px -1.5px 1.5px #000 );
}


/* Overall budget data */
.overallBudget {
  background-color:white;
}

.overallBudget-item {
  background-color: #282c34;
  height: 100px;
}
.overallBudget-item-year {
  color: white;
}

.overallBudget-item-value {
  color: white;
  padding: 10px;
}

.overallBudget-ascending, .overallBudget-descending {
  background-color:  #282c34;
  color: white;
}


#circlePack {
  width: 50%;
  max-height: 500px;
}

.bar { fill: steelblue; }